{% extends "base.html" %}

{% block content %}
  <h1>{{ section.title }}</h1>
  {% if section.content %}
  <div class="section-intro">{{ section.content | safe }}</div>
  {% endif %}

  <ul class="post-list">
    {% for page in section.pages %}
    <li class="post-row">
      <a class="post-title" href="{{ page.permalink }}">
        {{ page.title }}
      </a>
      <span class="post-meta">
        {% for tag in page.taxonomies?.tags or [] %}
        <a class="meta-tag" href="{{ get_taxonomy_url(kind='tags', term=tag) }}"># {{ tag }}</a>
        {% endfor %}
        <time class="meta-date">{{ page.date | date(format="%Y-%m-%d") }}</time>
      </span>
    </li>
    {% endfor %}
  </ul>
{% endblock content %}
